$gradient:  linear-gradient(to left,  $primary-color 0%, $secondary-color 100%);
.gradient-border {
  background: $gradient;
  display: inline-block;
  padding: 3px !important;
  border-radius: $global-radius;
 .text {
  border-width: 0px;
  background-color: $white;
  color:$primary-color;
  display: block;
  padding: 10px 20px;
  border-radius:$global-radius;
  &:hover {
    background-color: $primary-color;
    background: $gradient;
    color:$white;
    font-weight:600;
    cursor: pointer;
  }
}
}
  @include breakpoint(medium){
.arrow-black{
  position:absolute;
  z-index:200;
  bottom: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: -1.5rem;
  @include breakpoint(medium) {
  bottom: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: -1.3rem;
  }
    border-bottom: 2px solid $black;
    border-right: 2px solid $black;
    float: left;
    left: 50%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  &:hover{  cursor: pointer;border-color:$primary-color;}
    }}
.white{border-color:$white;}
.dotwhite{
&:hover a span {background-color:$primary-color !important;}
a span{color:$white !important; background-color:$white !important;}
}
#fp-nav ul li .fp-tooltip{color:$black !important;}
#fp-nav ul li:hover{
a span{background-color:$primary-color !important;}
}

.logo3idees{
    transition: all 0.5s ease-in-out;
    display: block;
    z-index: 2;
    width: 80px;
    height: 30px;
   @include breakpoint(medium){
    width: 115px;
    height: 44px;
    }
    background: transparent url(../images/logos/3idees.svg) no-repeat;
    text-decoration: none;
    &:hover{
    transition: all 0.5s ease-in-out;
    background: transparent url(../images/logos/3ideesblack.svg) no-repeat;
}
}
@include breakpoint(medium){
.logo3ideeswhite{
    background: transparent url(../images/logos/3ideeswhite.svg) no-repeat;
    &:hover{
        background: transparent url(../images/logos/3ideeswhiteactive.svg) no-repeat;
    }
    color:white;
}
}


.fa {    background: $gradient; color:$white;     -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    padding:0.5rem;
    margin:0.5rem;
    border-radius:$global-radius/3;
    -webkit-text-fill-color: $white;
    font-weight: 300;
    font-size: 1.5rem;
     @include breakpoint(medium){
    font-size: 2rem; }}
