#barraaceptacion {
    display:none;
    position:relative;
    left:0px;
    right:0px;
    top:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height: 160px;
    @include breakpoint(medium){
    min-height:65px;
    }
    background-color: $light-gray;
    color: $black;
    z-index:99999;
    border-bottom: 1px solid $dark-gray;
}

.inner {
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:10px;
}
.innertext{
text-align: left;
float: left;
width: 80%;
}
.inner a.ok {
    letter-spacing: 1px;
    margin-top: 2px;
    text-align:center;
    background-color:$white;
    color:$primary-color;
    border-radius:0.5rem;
    border: 2px solid $primary-color;
    &:hover{background-color:$primary-color;
      color:$white;
      border-color: scale-color($primary-color, $lightness: -10%);
}
}

.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color: $primary-color;
}

.sticky{width:100% !important; }

span {font-weight:600;}

.gradient {
      display: inline-block;
    background: #ED1E79; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #4ffd9f, #03a2e0); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #4ffd9f, #03a2e0); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #4ffd9f, #03a2e0); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #4ffd9f, #03a2e0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  .nogradient{
        font-weight:400;
        display: inline-block;
        color: $black; /*non-webkit fallback*/
        background: -webkit-linear-gradient(135deg, #FF9F65, #DED37E, #26BDA6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: $black; }

.textlayer{position:relative; z-index:100; color:$white}

.footer{
  padding-bottom:0 !important;
  padding-top:1rem;
  border-top:1px solid $black;
}

.header {
position:relative;
          z-index: 1000;
        }


.fullpage{height: 100vh;
          display: table;
          table-layout: fixed;}

.menu > li > a {color:$black;     -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;}
  @include breakpoint(small){
  #fullpage{
  .columns{padding:0.5rem;}}
  }
  @include breakpoint(medium){
    #fullpage{
     position: fixed !important;
        z-index: 0;
        top: 0px;
    }
   .headerbg {     position: fixed;
      z-index: 299;
      width: 100%;
      height: 3.6rem;
      top: 0px;
      background-color: $white;}
.top-bar-color, .top-bar-color ul {
    background-color: transparent !important;
}
}


// cookies
.cc_container {
  background:scale-color($light-gray, $lightness: 50%) !important;
  color: $black !important;
}
.cc_container .cc_btn, .cc_container .cc_btn:visited{
  background-color: $white !important;
  border: 2px solid $primary-color;
  color: $dark-gray !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-radius: 0.8rem;
  &:hover{
    color: $black !important;
  }
  }
