.sticky{width:100% !important; }

span {font-weight:600;}

.gradient {
      display: inline-block;
    background: #ED1E79; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #4ffd9f, #03a2e0); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #4ffd9f, #03a2e0); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #4ffd9f, #03a2e0); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #4ffd9f, #03a2e0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }

  .nogradient{
        font-weight:400;
        display: inline-block;
        color: $black; /*non-webkit fallback*/
        background: -webkit-linear-gradient(135deg, #FF9F65, #DED37E, #26BDA6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: $black; }

.textlayer{position:relative; z-index:100; color:$white}

.footer{
  padding-bottom:0 !important;
  padding-top:1rem;
  border-top:1px solid $black;
}

.header {
position:relative;
          z-index: 1000;
        }


.fullpage{height: 100vh;}

.menu > li > a {color:$black;     -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;}

  @include breakpoint(medium){ 
    #fullpage{
     position: fixed !important;
        z-index: 0;
        top: 0px;
    }
   .headerbg {     position: fixed;
      z-index: 299;
      width: 100%;
      height: 3.6rem;
      top: 0px;
      background-color: $white;}
.top-bar, .top-bar ul {
    background-color: transparent;
}
  }