#services{
.top-bar, .top-bar ul {
    background-color: transparent !important;
}
  hr { height:2px;   background: $gradient;}
  .row{padding-bottom:6rem;}
.servicios ul {margin-bottom:0;}
.servicios ul li {font-weight: bold;}
.servicios ul li ul li {
    font-weight: normal;
}
}
