<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{browserTitle}}</title>
    <meta name="description" content"{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="shortcut icon" type="image/ico" href="{{root}}assets/img/logos/favicon.ico">
    <meta name="{{metaName}}" content="{{metaContent}}">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P2DK4SD');</script>
<!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2DK4SD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"Este sitio utiliza Cookies para su funcionamiento. Vea nuestra","dismiss":"entendido","learnMore":"politica de cookies","link":"http://www.3idees.com/legal.html#cookies","theme":"light-top"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
    <header class="header row">
       <div class="top-bar-container" data-sticky-container>
        <div class="sticky" data-sticky data-options="marginTop: 0; stickyOn: small;">
          <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
            <div class="top-bar-left"><a class="logo3ideesmobil" alt="3idees" href="https://www.3idees.com"></a></div>
            <div class="top-bar-right"> <button class="menu-icon" type="button" data-toggle="main-menu"></button></div>
        </div>
        <div class="top-bar {{topBarBackgroundColor}}" id="main-menu">
        <div class="top-bar-left">
                <a class="logo3idees show-for-medium" alt="3idees"  href="https://www.3idees.com"></a>
        </div>
        <div class="top-bar-right">
            <ul class=" medium-horizontal vertical dropdown menu text-center" data-responsive-menu="accordion medium-dropdown">
                    <li><a href="https://www.3idees.com/growth-marketing">¿Qué es Growth Marketing?</a></li>
                    <li><a href="https://www.3idees.com/contacto" class="gradient-border"><div class="text">Pide tu Propuesta</div></a> </li>
                </ul>
        </div>
        </div>
        </div>
        </div>
    </header>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
   <div class="row footer {{display}}">
            <div class="small-12 medium-6 columns text-center medium-text-left">
                <p><b><a href="https://www.3idees.com">3idees</a>&copy;</b> - 2017</p>
            </div>
            <div class="small-12 medium-6 columns text-center medium-text-right">
                <a href="legal.html" rel="noindex,nofollow">aviso legal</a>
            </div>
        </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
